body {
    padding: 25px;
    font-size: 220px;
    text-align: left; 
    line-height: 30px;
    color: rgb(192, 142, 153);
    font-family: serif; 
  }
h2{
  font-size: 127%;
}
h3 {
  font-size: 244%;
  line-break: auto;
  position: sticky;
}
p {
  font-size: 20px;
  color:rgb(192, 183, 186);
  margin-right: 500px;
  margin-left: 25px;
  text-align: justify;
  line-height: 40px;
}
  img {
    width:50%;
    height:50%;
    margin-left: 375px;
    margin-top: 120px;
    animation-name: spin;
    animation-duration: 8000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  } 
  @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }
.shadowfilter {
	filter: drop-shadow(0px 0px 0px rgba(209, 186, 186, 0.8));
	transition: all 0.3s linear;
	transition: all 0.3s linear;
	transition: all 0.3s linear;	
}
.shadowfilter:hover {
	filter: drop-shadow(0px 0px 35px rgba(156, 76, 76, 0.8));
}
.button {
  size: 10%;
  width:20%;
  height:20%;
  padding: 100px;
  filter: drop-shadow(0px 0px 0px rgba(209, 186, 186, 0.8));
	transition: all 0.3s linear;
	transition: all 0.3s linear;
	transition: all 0.3s linear;

}
.button:hover {
	filter: drop-shadow(0px 0px 35px rgba(156, 76, 76, 0.8));
}


  